::-webkit-scrollbar {
  width: 14px;
  height: 18px;
}
::-webkit-scrollbar-track {
  background-clip: padding-box;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background-color: #0e0f0f;
  border-radius: 10px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
