.app-container {
  display: flex;
  height: 100vh;
}

.white-icon {
  color: white !important;
}

@media screen and (max-width: 769px) {
  .server-container,
  .sidebar-container,
  .active-users-list {
    display: none;
  }
}
