.sidebar-container {
  background-color: #303136;
  flex: 0 0 240px;
  flex-direction: column;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.sidebar-container .sidebar-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #1f2124;
  height: 48px;
  padding: 0 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}
.sidebar-container .sidebar-header:hover {
  background-color: #26272b;
}
.sidebar-container .sidebar-header .title {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}
.sidebar-container .sidebar-body {
  padding: 2rem 0.5rem;

  flex: 1;
}
.sidebar-container .sidebar-body .group {
  margin-bottom: 1rem;
}
.sidebar-container .sidebar-body .category {
  color: rgba(255, 255, 255, 0.3);
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  padding: 0 0 0 0.5rem;
  pointer-events: none;
}
.sidebar-container .sidebar-body .channel {
  color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  font-weight: 300;
}
.channel-setting-icon {
  display: none !important;
}
.sidebar-container .sidebar-body .channel:hover .channel-setting-icon{
  
  display: block !important;
}
.sidebar-container .sidebar-body .active {
  color: #fff;
  cursor: pointer;
  font-weight: 300;
}

.sidebar-container .sidebar-body .channel .title {
  padding: 0.5rem;
  flex: 1;
}

.sidebar-container .title {
  /* padding: 0.5rem; */
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 160px;
  height: 1.2em;
  white-space: nowrap;
}

.sidebar-container .sidebar-body .channel:hover {
  color: rgba(255, 255, 255, 0.7);
  background-color: #36393f;
  border-radius: 3px;
}

.channels-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #282b30;
  border-top: 1px solid #1c1e21;
  padding: 10px;
}

.channels-footer-details {
  margin-left: 10px;
}

.channels-footer-controls {
  margin-left: auto;
  border: 1px solid darken(#2e3136, 7.7%);
  border-radius: 4px;
  display: flex;
}

.button {
  display: block;
  display: flex;
  justify-content: center;
  width: 32px;
  height: 32px;
}
svg {
  width: 100%;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.username {
  font-size: 0.9rem;
  display: block;
  color: white;

  font-weight: 300;
}
